.about-container {
    background: url('../../public/Images/about-us.jpg') center center/cover no-repeat;
    height: 70vh;
    margin-top:-80px;
    opacity: 100%;
    width: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: #85c441;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.2);
    object-fit: contain;
    font-family: 'IBM Plex Sans', sans-serif;

}

.about-container-message h1 {
    font-size: 80px;
    font-weight:bolder;
}