:root {
    --primary: #88C441
}

.btn {
    padding: 8px 20px;    
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 50px;
    font-family: 'IBM Plex Sans', sans-serif;
}

.btn--primary {
    background-color: var(--primary);
    color: #fff;
    border: 1px solid var(--primary);
     

}

.btn--outline {
    background-color: transparent;
    color: #fff;
    padding: 8px 20px;
    border: 1px solid var(--primary);
    transition: all 0.3s ease-out;
}

.btn--medium{
    padding: 8px 20px;
    font-size: 20px;
}

.btn--large{
    padding: 12px 26px;
    font-size:  20px;
}

.btn--medium:hover, .btn--large:hover{
    background:  #fff;
    color: #242424;
    transition: all 0.3s ease-out;
}

.btn--send{
    background-color: #fff;
    color: #000;
    width: 90%;
    margin: 0;
}

.btn--send:hover{
    background-color: transparent;
    border-style: solid;
    color: #fff;
}