.hero-container {
    background: url('../../public/Images/IMG_0125-10.jpg') center center/cover no-repeat;
    height: 80vh;
    margin-top:-80px;
    opacity: 100%;
    width: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: #fff;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.2);
    object-fit: contain;
    font-family: 'Noto Sans', sans-serif;;
}

.hero-container-message {
    visibility: hidden;
}

.mobile-logo{
    visibility: hidden;
    height: 180px;
    width: 200px;
}



@media screen and  (max-width:960px) {
    .hero-container-message > h1 {
        justify-content: center;
        text-align: center;
        font-size: 70px;
        margin-top: 150px;
    }
}

@media screen and (max-width:850px){

    .mobile-logo{
        visibility: visible;
    }

    .hero-container{
        background: url('../../public/Images/IMG_0133-55.jpg') center center/cover no-repeat;
        opacity: 100%;
        color: #fff;
        font-size: 32px;
        justify-content: center;
        text-align: center;
        padding: 2rem 3rem;
        font-weight: bold;
        height: 100vh;
        
    }

    .hero-container-message {
        visibility: visible;
        
    }
    

    .hero-btns {
        margin-top: 32px;
        

            
    }
    
    .hero-btns .btn {
        margin: 6px;

    
    }
    

    .hero-container-message > h1 {
        font-size: 30px;
        margin-top: 20px;
        
    }

    .hero-container-message > p{
        padding-top: 1rem;
        text-align: center;
        font-size: 25px;
        
        
    }



}
